<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8">
		<title>Node.js菜鳥筆記(1)</title>	
		<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	</head>
	<body> 
		<h1>Node.js菜鳥筆記-註冊</h1>
		<form id="signup" method="GET" action="http://localhost:3000/Signup">
			<label>使用者名稱：</label><input type="text" id="username" name="username" /><br>
			<label>電子郵件：</label><input type="text" id="email" name="email" /><br>
			<input type="submit" value="註冊我的帳號" /><br>
		</form>
	</body>
</html>